.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin-top: 3rem;
  padding: 0;
}

.card {
  margin: 1rem;
  width: 100%;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card a {
  display: block;
  padding: 1.5rem;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.main figcaption {
  margin: 0.6rem;
  font-size: 12px;
  text-align: center;
  padding-bottom: 1rem;
  opacity: 0.7; /* Changed from 70% to decimal */
}

/* header*/
.main h1 {
  font-size: 54px;
  padding-top: 2rem;
  border-bottom: 1px solid rgba(184, 184, 184, 0.16);
  padding-bottom: 1px;
  margin-bottom: 15px;
}


.main h2 {
  font-size: 28px;
  /* padding-top: 2rem; */
  /* border-bottom: 1px solid rgba(184, 184, 184, 0.16); */
  /* padding-bottom: 1px; */
  /* margin-bottom: 15px; */
}

.main h3,
.main h4,
.main h5 {
  font-size: 26px;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

.main code {
  width: 100%;
}

.main ul {
  width: 100%;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  gap: 10px;
}

.main p {
  margin: 5px 0 1px 0;
  width: 100%;
  gap: 10px;
  font-size: 18px;
}

.main blockquote p {
  font-size:  15px;;
}

.main iframe,
.main table {
  width: 100%;
}

.main tbody,
.main tr,
.main td {
  border-width: 1px;
  padding: 10px;
}

.main a {
  color: #3d77e5;
  text-decoration: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .pre,
  .table,
  .iframe {
    width: 100%;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
  }
}

.content {
  font-size: 1.4em;
}

.backToHome {
  width: 100%;
  text-align: center;
  padding-top: 2em;
  border-top: solid 1px lightgray;
  margin-top: 2em;
}

.wp-block-cover.alignfull.is-light.has-parallax {
  background-color: blue;
}

.wp-block-home {
  font-family: Times New Roman;
}

.pre,
.code,
.kbd,
.samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 5em;
}

.devicon-devicon-plain {
  max-width: 9em;
}

/* if you want to change the original color */
.devicon-devicon-plain path {
  fill: #4691f6;
}

.main .badgesWrapper {
  display: flex;
}

.main cust2,
.main cust3 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Adjust for left-side and right-side bubbles */
.main cust2.left {
  justify-content: flex-start;
}

.main cust3.right {
  justify-content: flex-end;
  flex-direction: row-reverse; /* Move avatar to the right side */
}

/* Style for avatar containers */
.main test {
  align-items: center;
  /* Set size for avatar container */
  /*width: 70px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
  margin-bottom: 10px;
}

/* Ensure avatar fits within container */
.main .avatar {
  width: 100px; /* Make image fill the container */
  height: 100px; /* Make image fill the container */
  border-radius: 50%;
  object-fit: cover; /* Ensure image covers container without distortion */
}


.main blockquote {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-style: italic;
}

.main wp-block-pullquote {
  font-size: 50px;
}

.custom-pullquote blockquote,
.custom-pullquote blockquote p,
.custom-pullquote blockquote p em {
  font-size: 50px !important;
  font-weight: bold !important;
  font-style: italic !important;
  line-height: 1.2 !important;
}

.main img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.donationsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
}

.donationItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
